<div class="well">
  <h1 align="center">Deadlines</h1>
  <p>
    You can now set a deadline for each of your todo items!<br/>
    When adding your todo, just include the time (include am/pm), or how much time is left in minutes or hours. <br/>
    It's very easy and flexible with how you format the time! See examples below.
  </p>
</div>

<div class="row container">
  <ul class="list-group col-sm-3">
    <li class="list-group-item active"><b>You type this:</b></li>
    <li class="list-group-item list-group-item-info">Call Mom in 10 minutes</li>
    <li class="list-group-item list-group-item-info">Call Dad 1 hour</li>
    <li class="list-group-item list-group-item-info">Lunch with Michelle at noon</li>
    <li class="list-group-item list-group-item-info">Meet with Barack at 2:15 pm</li>
    <li class="list-group-item list-group-item-info">Pick up Kids at 5pm</li>
    <li class="list-group-item list-group-item-info">Go to Sleep</li>
  </ul>
  <ul class="list-group col-sm-5">
    <li class="list-group-item active"><b>Automatically converted to:</b></li>
    <li class="list-group-item list-group-item-danger">Call Mom <span class="deadline">(deadline set to 10 minutes)</span></li>
    <li class="list-group-item list-group-item-warning">Call Dad <span class="deadline">(deadline set to 1 hour)</span></li>
    <li class="list-group-item list-group-item-info">Lunch with Michelle <span class="deadline">(deadline set to 12:00 pm)</span></li>
    <li class="list-group-item list-group-item-info">Meet with Barack <span class="deadline">(deadline set to 2:15pm)</span></li>
    <li class="list-group-item list-group-item-info">Pick up Kids <span class="deadline">(deadline set to 5pm)</span></li>
    <li class="list-group-item list-group-item-info">Go To Sleep <span class="deadline">(no deadline is set)</span></li>
  </ul>


<div class="well col-sm-4">
  <ul><b>Type any of these in your todo item</b><br/>

    <li>(in) 25 minutes</li>
    <li>(in) 3 hours</li>
    <li>(at) 5pm</li>
    <li>(at) 10:30 am</li>
    <li>(at) noon/midnight</li>
  </ul>
  <ul><b>Features</b>
    <li>Items due in less than 10 minute will be red.</li>
    <li>Items due in less than 1 hour will be yellow.</li>
    <li>You can set the deadline manually by clicking on an item to edit it.</li>
    <li>Everything is automatically set to today, unless you give a time that has already passed. In that case, it will set your deadline to tomorrow.</li>
  </ul>
</div>
</div>
