<div class="jumbotron">
<h1 align="center">Welcome to TuDu!</h1>
<h4 align="center">Your personalized to do app</h4>

  <div align="center">
    <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>
